<html>
  <head>
    <title>Welcome to GO Health</title>
  </head>
  <body>
    {{if .ErrorData }}
      <div class="error">{{.ErrorData.Msg}}</div>
    {{end}}
    <p>
      <form action="/sites/save" method="POST">
        <div>Check <input type="text" name="url"><input type="submit" value="Go"></div>
      </form>
    </p>
    <ul class="sites">
      {{range .Data}}
        <li>{{.URL}} - {{.Healthy}}</li><br />
      {{end}}
    </ul>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
</html>

<script type="text/javascript">
  $(document).ready(function(){
    setInterval(function(){
      $.getJSON( "/ajax/sites/check", function(sites) {
        let sitesHtml = ""
        for (const site of sites) {
          sitesHtml += "<li>" + site.url + " - " + site.healthy + "</li><br />"
        }
        $(".sites").html(sitesHtml)
      });
    }, 15000);
  });
</script>
